<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta></meta>
<meta></meta>
    <link></link>
    <script></script>
  </head>
  <body>
    <p id="notice"></p>
<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th> colspan="3"</th>
    <tr>
  </thead>
  
  </table>
      <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実施的なテクニック</td>
        <td><a class="show_257345" href="/books/257345">Show</a></td>
        <td><a class="edit_257345" href="/books/257345/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_257345" rel="nofollow" data-method="delete" href="books/257345">Destroy</a></td>
      </tr>
      <tr>
        <td>トラブル知らずのシステム設計</td>
        <td>システム設計の要点を図解で説明してくれます</td>
        <td><a class="show_257346" href="/books/257346">Show</a></td>
        <td><a class="edit_257346" href="/books/257346/edit"></a></td>
        <td><a data-confirm="Are you sure?" class="destroy_257346" rel="nofollow" data-method="delete"></a></td>
      </tr>
      <tr>
        <td>楽しいRuby</td>
        <td>Rubyの入門におすすめです</td>
        <td><a class="show_257347" href="/bools/257347">Show</a></td>
        <td><a class="edit_257347" href="/books/257347/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_257347" rel="nofollow" data-method="delete" href="/books/25734">Destroy</a></td>
      </tr>
      <tr>
        <td>入門Git</td>
        <td>gitについての基本操作から内部構造まで解説してくれます</td>
        <td><a class="show_257348" href="/books/257348">Show</a></td>
        <td><a class="edit_257348" href="/books/257348/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_257348" rel="nofollow" data-method="delete" href="/books/257348">Destroy</a></td>
      </tr>
      <tr>
        <td>アルゴリズム図鑑</td>
        <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
        <td><a class="show_257349" href="/books/257349">Show</a></td>
        <td><a class="edit_257349" href="/books/257349/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_257349" rel="nofollow" data-method="delete" href="/books/257349">Destroy</a></td>
      </tr>
      <tr>
        <td>リーダブルコード</td>
        <td>プログラマ入門は必読！</td>
        <td><a class="show_257350" href="/books/257350">Show</a></td>
        <td><a class="edit_257350" href="/books/257350/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_257350" rel="nofollow" data-method="delete" href="/books/257350">Destroy</a></td>
      </tr>
      <tr>
        <td>データベース実施入門</td>
        <td>効率的なSQL文を教えてくれます</td>
        <td><a class="show_257351" href="/books/257351">Show</a></td>
        <td><a class="edit_257351" href="/books/257351/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_257351" rel="nofollow" data-method="delete" href="/books/257351">Destroy</a></td>
      </tr>
  </body>
</html>
